# Visual Studio user-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build outputs
[Dd]ebug/
[Rr]elease/
x64/
x86/
*.obj
*.pdb
*.ilk
*.tlog
*.lastbuildstate
*.recipe
*.log
*.exe

# Visual Studio caches
.vs/
